<main class="main-wrapper clearfix">

  <div class="widget-list">
    <div class="row">

      <div class="col-md-3 widget-holder"></div>
      <div class="col-md-6  widget-holder">
        <div class="widget-bg">

          <%= render 'form', bet_type: @bet_type %>

          <%= link_to 'Show', @bet_type %> |
          <%= link_to 'Back', bet_types_path %>
        </div>
      </div>
    </div>
  </div>
</main>
