<main class="main-wrapper clearfix">
  <!-- Page Title Area -->
  <div class="row page-title clearfix">
    <div class="page-title-left">
      <h5 class="mr-0 mr-r-5">อัตราจ่าย</h5>

    </div>
    <!-- /.page-title-left -->
    <div class="page-title-right d-inline-flex">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="<%= root_path %>">หน้าหลัก</a>
        </li>
        <li class="breadcrumb-item active">อัตราจ่าย</li>
      </ol>
    </div>
    <!-- /.page-title-right -->
  </div>
  <!-- /.page-title -->

  <div class="widget-list">
    <div class="row mr-b-1">
      <div class="col-md-12" style="max-width: none;">
        <div class="widget-bg">
          <div class="widget-body clearfix">
            <div class="widget-holder">
              <div class="widget-bg">
                <div class="widget-body clearfix">
                  <h4>หวยไทย/หวยลาว</h4>
                  <table class="table table-striped table-resize"> <thead> <tr class="bg-primary"> <th width="10%">ประเภท</th> <th width="10%">จ่าย</th> <th width="10%">ส่วนลด (%)</th> <th width="10%">ยอดแทงต่ำสุด</th> <th width="10%">ยอดแทงสูงสุด</th> </tr></thead> <tbody> <tr> <td> 3ตัวบน </td><td> 550 </td><td> 33 </td><td> 10 </td><td> 500 </td></tr><tr> <td> 3ตัวโต๊ด </td><td> 105 </td><td> 33 </td><td> 10 </td><td> 500 </td></tr><tr> <td> 3ตัวล่าง </td><td> 250 </td><td> 33 </td><td> 10 </td><td> 500 </td></tr><tr> <td> 3ตัวหน้า </td><td> 250 </td><td> 33 </td><td> 10 </td><td> 500 </td></tr><tr> <td> 2ตัวบน </td><td> 70 </td><td> 28 </td><td> 10 </td><td> 500 </td></tr><tr> <td> 2ตัวล่าง </td><td> 70 </td><td> 28 </td><td> 10 </td><td> 500 </td></tr><tr> <td> วิ่งบน </td><td> 3 </td><td> 12 </td><td> 10 </td><td> 500 </td></tr><tr> <td> วิ่งล่าง </td><td> 4 </td><td> 12 </td><td> 10 </td><td> 500 </td></tr></tbody> </table>
                </div>
                <!-- /.widget-body -->
              </div>
              <!-- /.widget-bg -->
            </div>

          </div>
        </div>
        <!-- /.widget-bg -->
      </div>

    </div>
    <!-- /.row -->
  </div>

</main>
