<!DOCTYPE html>
<html lang="th" prefix="og: http://ogp.me/ns#">

<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K3BDVJ8');</script>
<!-- End Google Tag Manager -->
    <title>Lot1688.com - หวยรวยรวย, หวยลาว, หวยไทย</title>
    <%= render "layouts/header" %>

</head>

<body class="header-centered sidebar-horizontal">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3BDVJ8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div id="wrapper" class="wrapper">
        <%= render "layouts/navbar" %>
        <%= yield %>
    </div>
    <!-- /.content-wrapper -->
    <%= render "layouts/footer" %>
    <!-- WhatsHelp.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            line: "//line.me/ti/p/@osd1030j", // Line QR code URL
            company_logo_url: "//lot1688.com/assets/images/lot1688_square_logo.jpg", // URL of company logo (png, jpg, gif)
            greeting_message: "Lot1688.com หวยรวยรวย ยินดีต้อนรับค่ะ เพื่อความสะดวก รบกวนแอดไลน์ด้วยค่ะ☀☀☀", // Text of greeting message
            call_to_action: "รบกวนแอดไลน์ด้วยค่ะ ☀☀☀", // Call to action
            position: "right", // Position may be 'right' or 'left'
        };
        var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- /WhatsHelp.io widget -->
</body>

</html>
